<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyIU0ARQxh2ggizAwTT79UB0TdM8xyVh8</string>
	<key>GCM_SENDER_ID</key>
	<string>871961943336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheng80.rummipoker</string>
	<key>PROJECT_ID</key>
	<string>rummi-poker</string>
	<key>STORAGE_BUCKET</key>
	<string>rummi-poker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871961943336:ios:ee247f57e68563d5cb441d</string>
</dict>
</plist>